## Data Science Tools and Ecosystem

##### In this Notebook, Data Science Tools and Ecosystem are summarized.

##### Some of the popular language that Data Scientist use are:
1. MySQL
2. MongoDB
3. CouchDB
4. Apache AirFlow
5. Apache SparkSQL
6. TensorFlow
7. DataBase
8. JAV

##### some of the commonly usde libraris used by Data Science Include:
1. matplotlib
2. numpy
3. panda
4. caret
5. ggplot
6. ggtitle

| Data Science Tools |
| ------------------ |
|  R studio          |
|  Tablura           |
|  PostgreSQL        |
|  MongoDB           |

### Below are a few example of evaluating arithmetic expressions in Python

In [5]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 mintes to hours by diving by 60
200/60

3.3333333333333335

### Objectives 
### List popular language for data science 
* Java
* Python
* C++

## Author

Pradeep B A